:root {
    --branding-color: whitesmoke;
    --secondary-color: black;
    --default-font-family: "Newsreader", sans-serif
}

html {
    margin: 0px 26px;
    background-color: black;
}

body {
    background-color: black;
}

h1 {
    color: whitesmoke;
    font-family: 'Newsreader', serif;
    font-size: 80px;
}

h2 {
    color: whitesmoke;
    font-size: 50px;
    background-color: black;
    font-family: 'Newsreader', serif;
}

h5 {
    color: whitesmoke;
    font-family: 'Newsreader', serif;
    font-size: 16px;
}

p {
    color: whitesmoke;
    font-family: 'Newsreader', serif;
    font-size: 25px;
    text-align: justify;
    line-height: 30px;
}

img {
    width: 50%;
}


.hero {
    margin-top: 60px;
    background-color: black;
}

.hero video {
    width: 100%;
    height: 100%;
}

.btn-branding {
    background-color: var(--branding-color);
    border-radius: 2px;
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    text-decoration: none;
    font-family: var(--default-font-family);
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 2px;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
    font-family: var(--default-font-family);
}

.sushi-image {
    text-align: right;
}


.christina {
    width: 100%;
}

.photo-of-christina {
    padding: 0;
}

.about-me {
    font-size: 45px;
    color: black;
}

.about-name {
    color: black;
    background-color: whitesmoke;
    font-size: 30px;

}

.about-section {
    background-color: whitesmoke;
}

.about-description {
    font-size: 27px;
    color: black;
    background-color: whitesmoke;
}

.categories {
    font-size: 25px;
    text-decoration: underline;
}

.languages-categories {
    font-size: 25px;
    text-decoration: underline;
    color: whitesmoke;
    padding-top: 50px;
}

.focus-categories {
    font-size: 25px;
    text-decoration: underline;
    padding-top: 40px;
}

.skills-categories {
    font-size: 25px;
    text-decoration: underline;
    color: whitesmoke;
    padding-top: 20px;
}

.skills {
    font-size: 18px;
    text-align: center;
}

.skills-skills {
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
}

.focus-skills {
    font-size: 18px;
    text-align: center;
}

.black-background-languages {
    background-color: black;
}

.black-background-focus {
    background-color: black;
}

.black-background-skills {
    background-color: black;
}

.black-background-skills {
    background-color: black;
}

.black-background-contact {
    background-color: black;
}

.black-background-socialmedia {
    background-color: black;
}

.contact {
    font-size: 25px;
    padding-top: 150px;
}

.contact-email {
    color: whitesmoke;
    font-size: 25px;
}

.chris-email {
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
    color: whitesmoke;
}

.social-media {
    font-size: 18px;
    text-align: center;
}

.contact-socialmedia {
    color: whitesmoke;
    font-size: 25px;
    padding-top: 150px;
}



.makizushi-app-image {
    padding-top: 50px;
}

.weather-app-image {

    text-align: right;
}

.portfolio-app-image {
    padding-top: 40px;
}

.btn-app {
    text-decoration: none;
}

.btn-app :hover {
    color: blue;
}

.video-graphics-1 {
    font-size: 60px;
    text-align: left;
}

.video-graphics-seattle {
    font-size: 40px;
    text-align: left;
    margin: 0;
}

.video-graphics-2 {
    font-size: 60px;
    text-align: left;
    margin: 0;
}

.video-graphics-3 {
    font-size: 60px;
    text-align: left;
    margin: 0;
}

.chocolati {
    padding-left: 80px;
}

.pop {
    padding-left: 80px;
}

.more {
    padding-left: 80px;
}



@media (max-width:960px) {

    .project-description {
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .chris-email {
        font-size: 12px;
    }


    h1 {
        color: whitesmoke;
        font-family: 'Newsreader', serif;
        font-size: 40px;
    }

    h2 {
        width: 100%;
    }

    img {
        width: 100%;
    }
}

@media (max-width:576px) {

    .about-me {
        font-size: 40px;
        padding-top: 20px;
    }

    .about-description {
        font-size: 20px;
    }

    .black-background-focus {
        background-color: whitesmoke;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .black-background-contact {
        background-color: whitesmoke;
    }

    .black-background-languages {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .black-background-skills {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    h1,
    .focus-categories {
        color: black;
    }

    .focus-skills {
        color: black;
    }

    .contact {
        padding-top: 150px;
    }

    .contact-email {
        color: black;
    }

    .chris-email {
        color: black;
        font-size: 18px;
    }

    .contact-socialmedia {
        padding-top: 150px;
    }
}



@media (max-width:960px) {

    .sushi-title {
        font-size: 35px;
    }

    .sushi-text {
        font-size: 18px;
    }

    .weather-title {
        font-size: 35px;
    }

    .weather-text {
        font-size: 18px;
    }

    .portfolio-title {
        font-size: 35px;
    }

    .portfolio-text {
        font-size: 18px;
    }


}

@media (max-width:576px) {

    .web {
        color: whitesmoke;
        font-size: 40px;
    }

    .and {
        color: whitesmoke;
        font-size: 40px;
    }

    .app {
        color: whitesmoke;
        font-size: 40px;
    }

    .sushi-title {
        font-size: 35px;
    }

    .sushi-text {
        font-size: 20px;
    }

    .weather-title {
        font-size: 35px;
    }

    .weather-text {
        font-size: 20px;
    }

    .portfolio-title {
        font-size: 35px;
    }

    .portfolio-text {
        font-size: 20px;
    }
}

@media (max-width:960px) {

    .video-graphics-1 {
        font-size: 35px;
        padding-top: 25px;
    }

    .video-graphics-seattle {
        font-size: 30px;
    }

    .video-graphics-2 {
        font-size: 35px;
        padding-top: 25px;
    }

    .video-graphics-3 {
        font-size: 35px;
        padding-top: 25px;
    }

    .chocolati video {
        height: 500px;
        width: 350px;
    }

    .pop video {
        height: 500px;
        width: 350px;
    }

    .more video {
        height: 500px;
        width: 350px;
    }

}

@media (max-width:576px) {
    .graphic-art {
        font-size: 40px;
        color: whitesmoke;
    }

    .design {
        font-size: 40px;
        color: whitesmoke;
    }

    .video-graphics-1 {
        font-size: 35px;
        color: whitesmoke;
        text-align: center;
    }

    .video-graphics-seattle {
        font-size: 30px;
        color: whitesmoke;
        text-align: center;
    }

    .chocolati video {
        height: 500px;
        width: 300px;
    }

    .video-graphics-2 {
        font-size: 35px;
        color: whitesmoke;
        text-align: center;
    }

    .pop video {
        height: 500px;
        width: 300px;
    }

    .video-graphics-3 {
        font-size: 35px;
        color: whitesmoke;
        text-align: center;
    }

    .more video {
        height: 500px;
        width: 300px;
    }
}