html {
    margin: 0px 26px;
    background-color: black;
}

h1 {
    color: whitesmoke;
    font-family: 'Newsreader', serif;
    font-size: 80px;
}

h5 {
    color: whitesmoke;
    font-family: 'Newsreader', serif;
    font-size: 16px;
}

p {
    color: whitesmoke;
    font-family: 'Newsreader', serif;
}

.hero {
    margin-top: 60px;
    background-color: black;
}

.hero p {
    text-align: left;
    font-size: 30px;
}