h1 {
    color: whitesmoke;
    font-family: 'Newsreader', serif;
}

h5 {
    color: whitesmoke;
    font-family: 'Newsreader', serif;
}

p {
    color: whitesmoke;
    font-family: 'Newsreader', serif;
}

.hero {
    background-color: black;
}